@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/noto-sans-v12-latin_cyrillic-regular.woff2")
      format("woff2"),
    url("../assets/fonts/noto-sans-v12-latin_cyrillic-regular.woff")
      format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: bold;
  font-weight: 700;
  src: local(""),
    url("../assets/fonts/noto-sans-v12-latin_cyrillic-700.woff2")
      format("woff2"),
    url("../assets/fonts/noto-sans-v12-latin_cyrillic-700.woff") format("woff");
}

/* mukta-regular - latin */
@font-face {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/mukta-v8-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/mukta-v8-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-700 - latin */
@font-face {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../assets/fonts/mukta-v8-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/mukta-v8-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/open-sans-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/open-sans-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../assets/fonts/open-sans-v20-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/open-sans-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
