@import "~normalize.css";

* {
  box-sizing: border-box;
}

body {
  max-width: 360px;
  background: #e5e5e5;
  font-family: "Noto Sans";
}

button {
  background-color: unset;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: opacity 0.3s;
}

button:hover {
  opacity: 0.5;
}

.header {
  position: fixed;
  width: 360px;
  height: 123px;
  top: 0;
  left: 0;
  background: #ffb000;
  border-radius: 0px 0px 8px 8px;
  transition: height 0.3s;
}

.header--active {
  height: 50px;
  z-index: 999;
}

.header--disactive {
  height: 123px;
  z-index: unset;
}

.title {
  text-align: center;
  font-family: "Mukta";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  margin-left: 50%;
  margin-top: 9px;
  transform: translateX(-50%);
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.back-btn {
  position: absolute;
  top: 17px;
  left: 23px;
  width: 13px;
  height: 14px;
  background-image: url("../assets/img/back-btn.svg");
  background-size: 13px 14px;
  background-position: center;
}

.container {
  position: relative;
  width: 100%;
  padding: 0 24px;
  z-index: 888;
  margin-top: 50px;
}

.content {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 1px 18px 18px;
  z-index: 9999;
}

// Cart Items

.cart-items-wrapper {
  display: flex;
  flex-direction: column;
}
