.product__title {
  font-size: 16px;
}
.product-about {
    position: relative;

    .product-about-prop {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 11px;
        margin-bottom: 14px;
        &__more {
            font-size: 10px;
            color: #C4C4C4;
        }
        &__list {
            display: inline-block;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        &__list-item {
            width: 24px;
            height: 24px;
            display: inline-block;
            border-radius: 50%;
            background-color: #EBEBEB;
            background-size: 16px 16px;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 5px;
        }
        &__icon1 {
            background-image: url('../assets/img/prop-icon-1.svg');
        }
        &__icon2 {
            background-image: url('../assets/img/prop-icon-2.svg');
        }
        &__icon3 {
            background-image: url('../assets/img/prop-icon-3.svg');
        }
    }
    &__image {
        object-fit: cover;
    }
    &__title {
        font-size: 16px;
        font-weight: 400;
    }
    &__price-and-counter {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        border-bottom: 1px solid #EBEBEB;
    }
    &__prices {
      font-size: 12px;
      display: flex;
      flex-direction: column;
    }
    &__current-price {
      display: flex;
      flex-direction: column-reverse;
    }
    & .base-price {
      font-size: 30px;
      font-weight: 700;
      margin-right: 10px;
      margin-top: 5px;
    }
    & .base-price-detail {
      position: relative;
      color: #878786;
      font-size: 16px;
    }
    & .base-price-detail::before {
      display: none;
    }
  }
  
  // Переназначение стилей компонента baseCounter
  
  .product-about__price-and-counter .item-counter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    height: fit-content;
    flex: 0 0 28%;
    &__counter {
      margin: 0 5px;
    }
    &__add {
      color: #FFBC41;
      font-size: 14px;
      font-weight: 700;
      margin-right: 6px;
      cursor: pointer;
    }
    &__decrement, &__increment {
      width: 38px;
      height: 38px;
      background-size: 38px 38px;
      background-position: center;
      cursor: pointer;
      transition: opacity 0.3s;
    }
    &__decrement:hover, &__increment:hover, &__add:hover {
      opacity: 0.5;
    }
    &__decrement {
      border-radius: 50%;
      background-color: #F2F2F2;
      background-image: url('../assets/img/inner-decrement.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 12px 14px;
    }
    &__increment {
      background-image: url('../assets/img/increment.svg');
    }
  }
.slider {
  margin-bottom: 23px;
}
.nutrition {
  border-bottom: 1px solid #E7E5E5;
  &__title {
    margin-top: 14px;
    font-size: 16px;
  }
  &__description {
    font-size: 12px;
    line-height: 16px;
    font-family: 'Open Sans';
  }
  &__description-list {
    color: #999999;
  }
  &__button {
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    color: #FFB000;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 17px;
  }
  &__button::after {
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    right: -10px;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/arrow-hide.svg");
    background-size: 8px 4px;
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 10px;
  }
  &__items {
    padding-top: 17px;
    border-top: 1px solid #E7E5E5;
    margin-top: 26px;
    margin-bottom: 20px;
    height: 100%;
  }
}
.ingridients {
  border-bottom: 1px solid #E7E5E5;
  &__title {
    font-size: 16px;
  }
  &__text {
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 16px;
  }
}
.other {
  &__title {
    font-size: 16px;
  }
}