@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./assets/fonts/noto-sans-v12-latin_cyrillic-regular.woff2') format('woff2'),
         url('./assets/fonts/noto-sans-v12-latin_cyrillic-regular.woff') format('woff');
  }

@font-face {
  font-family: 'Noto Sans';
  font-style: bold;
  font-weight: 700;
  src: local(''),
      url('./assets/fonts/noto-sans-v12-latin_cyrillic-700.woff2') format('woff2'),
      url('./assets/fonts/noto-sans-v12-latin_cyrillic-700.woff') format('woff');
}